In [0]:
lst_1, lst_2 = [1,2,3,4,5,6], ["a", 1, "José", "Livro", 3.4]
print("O maior valor é: ", max(lst_1))
print("O menor valor é: ", min(lst_1))

In [0]:
nome = "Arara Azul"#.upper()
lst = list(nome)#.upper())
print(nome)
print(lst)

print("Número de ocorrências da letra a é: ", lst.count("a"))

In [0]:
lst_nome = list("Nietzsche")
lst_val = list(range(5))

print(lst_val)
print(lst_nome)

lst_val.extend(lst_nome)#append só que anexa outra lista ao invés de um valor
print(lst_val)

print(lst_val.index("N"))#mostra a posição do valor

lst_val.remove("N")#remove o valor específico sem a posição
print(lst_val)

In [0]:
lst_nome = list("Nietzsche")
lst_val = list(range(5))

print(lst_val)
print(lst_nome)

lst_val.extend(lst_nome)#append só que anexa outra lista ao invés de um valor
print(lst_val)

print(lst_val.index("N"))#mostra a posição do valor

print(lst_val[5].del))

In [0]:
lst = list("Napoleão Bonaparte")
print(lst)
print(lst.sort())

In [0]:
#Maior valor em C

lst = [1,2,3,4,5,6]

for i 
  temp = lst[i]
  if max > temp
    max = temp