In [4]:
# montar o DataFrame de Filmes
import pandas as pd

df_filmes = pd.read_csv('/content/drive/MyDrive/Dataset/movies.csv')

df_filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [5]:
# renomear o nome das colunas
df_filmes.columns = ['filme_id', 'titulo', 'generos']

df_filmes.head()

   filme_id  ...                                      generos
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
1         2  ...                   Adventure|Children|Fantasy
2         3  ...                               Comedy|Romance
3         4  ...                         Comedy|Drama|Romance
4         5  ...                                       Comedy

[5 rows x 3 columns]

In [6]:
# trocar o indice do DF por uma das colunas
df_filmes = df_filmes.set_index('filme_id')

df_filmes.head()

                                      titulo                                      generos
filme_id
1                           Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                             Jumanji (1995)                   Adventure|Children|Fantasy
3                    Grumpier Old Men (1995)                               Comedy|Romance
4                   Waiting to Exhale (1995)                         Comedy|Drama|Romance
5         Father of the Bride Part II (1995)                                       Comedy

In [9]:
# criar o DataFrame com os votos
df_votos = pd.read_csv('/content/drive/MyDrive/Dataset/ratings.csv')

df_votos.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
# renomeando nome das colunas do DF de votos
df_votos.columns = ['cliente_id', 'filme_id', 'voto', 'registro']

df_votos.head()

   cliente_id  filme_id  voto   registro
0           1         1   4.0  964982703
1           1         3   4.0  964981247
2           1         6   4.0  964982224
3           1        47   5.0  964983815
4           1        50   5.0  964982931

In [11]:
# ver um resumo das votacoes
df_votos.describe()

          cliente_id       filme_id           voto      registro
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

# Procurando o Filme com o maior numero de votos
-- entendendo aqui que e' o filme mais procurado

In [13]:
# contagem do numero de votos por ID (filme_id)
# numero de votos = nro de linhas do df_votos

df_votos['filme_id'].value_counts()

356       329
318       317
296       307
593       279
2571      278
         ...
5986        1
100304      1
34800       1
83976       1
8196        1
Name: filme_id, Length: 9724, dtype: int64

In [15]:
# criar uma variavel que sera utilizada como adicionar como coluna 
# no DataFrame de Filmes
tmp_qtd_votos_filme = df_votos['filme_id'].value_counts()

type(tmp_qtd_votos_filme)

pandas.core.series.Series

In [16]:
# adicionar a serie com o total de votos do filme no df_filmes

df_filmes['votos'] = tmp_qtd_votos_filme

df_filmes.head()

                                      titulo  ...  votos
filme_id                                      ...
1                           Toy Story (1995)  ...  215.0
2                             Jumanji (1995)  ...  110.0
3                    Grumpier Old Men (1995)  ...   52.0
4                   Waiting to Exhale (1995)  ...    7.0
5         Father of the Bride Part II (1995)  ...   49.0

[5 rows x 3 columns]

In [19]:
# listas os filmes em ordem da coluna votos

#df_filmes.sort_values('votos').head(n=8)
df_filmes.sort_values('votos', ascending=False).head(n=8)

                                             titulo  ...  votos
filme_id                                             ...
356                             Forrest Gump (1994)  ...  329.0
318                Shawshank Redemption, The (1994)  ...  317.0
296                             Pulp Fiction (1994)  ...  307.0
593                Silence of the Lambs, The (1991)  ...  279.0
2571                             Matrix, The (1999)  ...  278.0
260       Star Wars: Episode IV - A New Hope (1977)  ...  251.0
480                            Jurassic Park (1993)  ...  238.0
110                               Braveheart (1995)  ...  237.0

[8 rows x 3 columns]

#Procurando o Filme com o media de votos
-- entendendo aqui que e' o filme com melhor posicao de votos

In [21]:
# df_votos['filme_id'].value_counts() <<< CURIOSIDADE

# Montar um serie com a media de votos do filme

#tmp_media_votos_por_filme = df_votos.groupby('filme_id').mean()
tmp_media_votos_por_filme = df_votos.groupby('filme_id').mean()['voto']

tmp_media_votos_por_filme

filme_id
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: voto, Length: 9724, dtype: float64

In [22]:
# adicionar a coluna com a media de votos no DataFrame df_filmes

df_filmes['voto_medio'] = tmp_media_votos_por_filme

df_filmes.head()

                                      titulo  ... voto_medio
filme_id                                      ...
1                           Toy Story (1995)  ...   3.920930
2                             Jumanji (1995)  ...   3.431818
3                    Grumpier Old Men (1995)  ...   3.259615
4                   Waiting to Exhale (1995)  ...   2.357143
5         Father of the Bride Part II (1995)  ...   3.071429

[5 rows x 4 columns]

In [24]:
# selecionar os filmes com melhores medias de voto
df_filmes.sort_values('voto_medio', ascending=False).head(n=8)

                                         titulo  ... voto_medio
filme_id                                         ...
88448     Paper Birds (Pájaros de papel) (2010)  ...        5.0
100556               Act of Killing, The (2012)  ...        5.0
143031                          Jump In! (2007)  ...        5.0
143511                             Human (2015)  ...        5.0
143559                      L.A. Slasher (2015)  ...        5.0
6201                           Lady Jane (1986)  ...        5.0
102217           Bill Hicks: Revelations (1993)  ...        5.0
102084             Justice League: Doom (2012)   ...        5.0

[8 rows x 4 columns]

In [23]:
# consulta antiga minha, ordem ainda e' a de qtd de pessoas que assistiram (nro votos)
df_filmes.sort_values('votos', ascending=False).head(n=8)

                                             titulo  ... voto_medio
filme_id                                             ...
356                             Forrest Gump (1994)  ...   4.164134
318                Shawshank Redemption, The (1994)  ...   4.429022
296                             Pulp Fiction (1994)  ...   4.197068
593                Silence of the Lambs, The (1991)  ...   4.161290
2571                             Matrix, The (1999)  ...   4.192446
260       Star Wars: Episode IV - A New Hope (1977)  ...   4.231076
480                            Jurassic Park (1993)  ...   3.750000
110                               Braveheart (1995)  ...   4.031646

[8 rows x 4 columns]

In [25]:
# adionar uma qtd minima para aceitar a media como ordem
df_filmes.query('votos >= 80')

                               titulo  ... voto_medio
filme_id                               ...
1                    Toy Story (1995)  ...   3.920930
2                      Jumanji (1995)  ...   3.431818
6                         Heat (1995)  ...   3.946078
10                   GoldenEye (1995)  ...   3.496212
16                      Casino (1995)  ...   3.926829
...                               ...  ...        ...
60069                   WALL·E (2008)  ...   4.057692
68157     Inglourious Basterds (2009)  ...   4.136364
68954                       Up (2009)  ...   4.004762
72998                   Avatar (2009)  ...   3.603093
79132                Inception (2010)  ...   4.066434

[210 rows x 4 columns]

In [26]:
df_filmes.query('votos >= 80').sort_values('voto_medio', ascending=False).head(n=8)

                                                     titulo  ... voto_medio
filme_id                                                     ...
318                        Shawshank Redemption, The (1994)  ...   4.429022
858                                   Godfather, The (1972)  ...   4.289062
2959                                      Fight Club (1999)  ...   4.272936
750       Dr. Strangelove or: How I Learned to Stop Worr...  ...   4.268041
904                                      Rear Window (1954)  ...   4.261905
1221                         Godfather: Part II, The (1974)  ...   4.259690
48516                                  Departed, The (2006)  ...   4.252336
1213                                      Goodfellas (1990)  ...   4.250000

[8 rows x 4 columns]